[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
grpcio = "==1.26.0"
flask-restful = ">0.3.8"
flask-cors = "*"
flask-httpauth = "*"
flask-limiter = "==2.1"
flask-migrate = "*"
requests = "*"
bson = "*"
boto3 = "*"
flask-sqlalchemy = "*"
flask-jwt-extended = "==4.3.1"
mysql-connector-python = "*"
mysqlclient = "*"
jsonschema = "*"

[requires]
python_version = "3.7"
